.about-page-wrapper {
    @include page-wrapper();

    .left-column-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50vw;
    
        .about-image-wrapper {
            @include image-wrapper();

            .about-image{
                @include image-styles();
            }
        }
    }

    .right-column-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 84px);
        width: 43vw;
        padding-left: 35px;

        .bio-wrapper {
            display: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 0.8rem;
        }
    }

}