@mixin base-btn {
    cursor: pointer;
    height: 42px;
    font-size: 1em;
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
    background-color: $midred;
    color: $offwhite;

    &:active, &:focus {
        outline: none;
    }

    &:hover {
        background-color: #530000;
    }
}

@mixin other-btn {
    cursor: pointer;
    height: 42px;
    width: 150px;
    font-size: 1.3em;
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    background-color: $darkred;
    color: $offwhite;
    box-shadow: 0px 1px 2px $warning;

    &:active, &:focus {
        outline: none;
    }

    &:hover {
        background-color: #530000;
    }
}

@mixin input-element {
    input{
        font-family: 'Russo One', sans-serif;
        color: $offwhite;
        padding: 5px 0px;
        width: 100%;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 1px solid $darkred;
        background-color: $midred;
        transition: 0.5s all ease-in-out;
        font-size: 1.1em;
        margin-bottom: 21px; 

        &:focus {
            outline: none;
            border-bottom: 1px solid $offwhite;
        }
    }
}

@mixin base-grid() {
    display: grid;
    grid-gap: 21px;
}

@mixin page-wrapper() {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 84px);
    padding: 30px;
}

@mixin image-wrapper() {
    width: 100%;
}

@mixin image-styles() {
    height: 80vh;
    width: 100%;
    border: 1px solid $offwhite;
    box-shadow: 1px 3px 2px  $offwhite;
    transition: 0.3s ease-in-out;
    border-radius: 10px;

    &:hover {
        border: 1px solid $chransengreen;
        box-shadow: 1px 3px 2px $chransengreen;
        border-radius: 15px;
    }
}

@mixin link-wrapper() {
    text-decoration: none;
    color: $offwhite;
    padding-right: 250px;
    transition: 0.3s ease-in-out;

    &:hover {
        font-weight: 300;
    }
}