.portfolio-detail-content-wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: calc(100vh - 84px);
    padding-left: 30px;
    padding-right: 30px;

    .header-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
        padding: 0px;
        

        .title-wrapper {
            text-align: center;
            font-size: 2.3em;
        }

        .fixed-wrapper {
            font-size: 0.8em;
            color: $warning;
            position: fixed;
            bottom: 0;
            right: 0;
            padding: 10px;


            
        }
    }        

    .center-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0px;
        padding: 10px;
        padding-top: 0px;
        width: 100%;

        .thumb-image-detail-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50vw;

            img {
                @include image-styles();
            }
        }

        .logo-detail-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            height: calc(100vh - 84px);
            width: 40vw;
            padding: 30px;
            padding-top: 0px;
        }
    }

    .footer-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        width: 90vw;
        height: calc(100vh - 669px);
        padding-left: 10px;

        .description-wrapper {
            text-align: center;
            font-size: 1.2em;
        }

        
    }
}