.portfolio-manager-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;

    .left-column {
        background-color: $midred;
        color: $offwhite;

    }

    .right-column{
        background-color: $darkred;
        color: $offwhite;
    }
}