.portfolio-form-wrapper {
    @include base-grid();
    grid-template-columns: 1fr;
    padding: 42px; 

    background-color: $midred;

    @include input-element();
    input {
        margin-bottom: 0px;
    }

    .image-uploaders  {
        @include base-grid();
        grid-template-columns: 200px 200px 200px;
        background-color: $midred;
        color: black;
        
        .manager-image-wrapper {
            img {
                width: 100%;
                height: 120px;
                object-fit: cover;
                border-radius: 5px;

            }

            .image-removal-link{
                display: flex;
                justify-content: center;
                a {
                    font-size: 1.2rem;
                    font-weight: 300;
                    color: $offwhite;
                    cursor: pointer;
                    transition: 0.3s ease-in-out;

                    &:hover {
                        font-size: 1.5rem;
                        color: $warning;
                    }
                }
            }
        }
        
        .dz-message {
            align-items: center;
            font-family: 'Russo One', sans-serif;
            font-size: 0.8rem;
        }
    }
}