.DraftEditor-root {
    border: 2px solid $offwhite;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 3px $darkred;
} 

.rdw-image-modal {
    left: -215px;
}

.rdw-emoji-modal {
    left: -169px;
}

.rdw-embedded-modal {
    left: -124px;
    color: black;
}

.rdw-image-alignment-options-popup {
    color: black;
}